node-red/flows.json
[
    {
        "id": "2c41a2bd.aa36ae",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6c6622f5.06be2c",
        "type": "mqtt in",
        "z": "2c41a2bd.aa36ae",
        "name": "temperature",
        "topic": "node/core-incubator/thermometer/0:1/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "29fba84a.b2af58",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "ce9f9f18.4bad2",
                "f8f2b06fa2f514bc",
                "f065b0163e67b2bf",
                "b401bfa0e9ba23a7"
            ]
        ]
    },
    {
        "id": "ce9f9f18.4bad2",
        "type": "debug",
        "z": "2c41a2bd.aa36ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "f065b0163e67b2bf",
        "type": "ui_chart",
        "z": "2c41a2bd.aa36ae",
        "name": "",
        "group": "57ff470b.93fdf8",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Incubator temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f8f2b06fa2f514bc",
        "type": "ui_gauge",
        "z": "2c41a2bd.aa36ae",
        "name": "",
        "group": "57ff470b.93fdf8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "40",
        "colors": [
            "#e6e600",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 360,
        "y": 120,
        "wires": []
    },
    {
        "id": "0ba44c0156d3e28e",
        "type": "http request",
        "z": "2c41a2bd.aa36ae",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 420,
        "wires": [
            [
                "631cf0c5df90a253"
            ]
        ]
    },
    {
        "id": "b401bfa0e9ba23a7",
        "type": "smooth",
        "z": "2c41a2bd.aa36ae",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "30",
        "round": "10",
        "mult": "single",
        "reduce": false,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "22970e1ecee492c1"
            ]
        ]
    },
    {
        "id": "72682f43c0053b14",
        "type": "function",
        "z": "2c41a2bd.aa36ae",
        "name": "prepare Insert",
        "func": "// 1. Získání ID zařízení z MQTT topiku\n// Očekávaný formát topiku: node/8492c4231234/thermometer/0:0/temperature\nvar topicParts = msg.topic.split('/');\nvar deviceId = topicParts[1] || \"unknown\"; // Pokud by topik selhal, zapíše \"unknown\"\n\n// 2. Základní proměnné\nvar input = msg.payload;\nvar temperature = parseFloat(input);\nvar statusMsg = \"OK\";\nvar type = \"data\";\n\n// 3. DETEKCE CHYBY 1: Výpadek vysílání (Watchdog)\nif (isNaN(temperature)) {\n    type = \"error\";\n    statusMsg = \"Vypadek vysilani / Napajeni\";\n    temperature = null;\n} else {\n    // 4. DETEKCE CHYBY 2: Slabá baterie\n    var lastBat = flow.get(\"last_voltage\") || 3.3;\n\n    if (lastBat < 2.4) {\n        statusMsg = \"Slabá baterie (\" + lastBat.toFixed(2) + \"V)\";\n    }\n}\n\n// 5. Příprava časového razítka\nvar localTimestamp = new Date().toLocaleString(\"sv-SE\", { timeZone: \"Europe/Prague\" });\n\n// 6. Příprava SQL dotazu (PŘIDÁNO nodeId)\nmsg.topic = `INSERT INTO measurements (timestamp, nodeId, type, temperature, message, is_sent) \n             VALUES ('${localTimestamp}', '${deviceId}', '${type}', ${temperature === null ? 'NULL' : temperature}, '${statusMsg}', 0);`;\n\n// 7. Vizuální status v Node-RED\nif (type === \"error\") {\n    node.status({ fill: \"red\", shape: \"dot\", text: statusMsg });\n} else if (statusMsg.includes(\"baterie\")) {\n    node.status({ fill: \"yellow\", shape: \"dot\", text: statusMsg });\n} else {\n    var voltInfo = flow.get(\"last_voltage\") ? flow.get(\"last_voltage\").toFixed(2) + \"V\" : \"N/A\";\n    node.status({ fill: \"green\", shape: \"dot\", text: \"ID: \" + deviceId + \" | \" + temperature + \"°C (\" + voltInfo + \")\" });\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 200,
        "wires": [
            [
                "6c98872225052be8"
            ]
        ]
    },
    {
        "id": "14a599876885ae4e",
        "type": "inject",
        "z": "2c41a2bd.aa36ae",
        "name": "run at 24:00",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "18da10ca137142f7"
            ]
        ]
    },
    {
        "id": "b51b8c569c23515b",
        "type": "function",
        "z": "2c41a2bd.aa36ae",
        "name": "prepare POST",
        "func": "// 1. Kontrola, zda máme data z DB\nif (!msg.payload || msg.payload.length === 0) {\n    node.status({ fill: \"gray\", shape: \"ring\", text: \"Žádná nová data\" });\n    return null;\n}\n\n// 2. Záloha pro následný UPDATE (is_sent = 1)\nmsg.records = msg.payload;\n\n// 3. Nastavení URL a hlaviček podle specifikace\nmsg.url = \"https://hatchery-l9qw.onrender.com/api/data\";\nmsg.method = \"POST\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"x-api-key\": \"hatchery-gw-key-2026\",\n    \"x-gateway-id\": \"gateway-01\"\n};\n\n// 4. Transformace dat do požadovaného formátu\n// Přidali jsme nodeId, aby cloud mohl data filtrovat podle staničky\nmsg.payload = msg.records.map(row => {\n    return {\n        id: row.id,            // ID v lokální DB (pro zpětné potvrzení)\n        nodeId: row.stationId,    \n        temp: row.temperature,\n        time: row.timestamp,\n        msg: row.message\n    };\n});\n\nnode.status({ fill: \"blue\", shape: \"dot\", text: \"Odesílám \" + msg.payload.length + \" záznamů\" });\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 400,
        "wires": [
            [
                "0ba44c0156d3e28e"
            ]
        ]
    },
    {
        "id": "7ec5f0b3ffb28974",
        "type": "comment",
        "z": "2c41a2bd.aa36ae",
        "name": "Větev 4 - Smazání dat starších 24 hodin",
        "info": "Spouští se ve 00:00\nSmaže data, která mají status \"sent\" (poslána na express) a jsou starší jak 24 hodin.",
        "x": 1430,
        "y": 280,
        "wires": []
    },
    {
        "id": "631cf0c5df90a253",
        "type": "function",
        "z": "2c41a2bd.aa36ae",
        "name": "data sent",
        "func": "// Kontrola, zda server přijal data (stav 200 nebo 201)\nif (msg.statusCode === 200 || msg.statusCode === 201) {\n    // Tento příkaz označí záznamy za vyřízené\n    msg.topic = \"UPDATE measurements SET is_sent = 1 WHERE rowid IN (SELECT rowid FROM measurements WHERE is_sent = 0 LIMIT 200);\";\n    return msg;\n} else {\n    // Pokud server vrátil chybu (např. 500), nic neoznačujeme a zkusíme to příště\n    node.error(\"Server error: \" + msg.statusCode);\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 440,
        "wires": [
            [
                "0e892e0ece20052e"
            ]
        ]
    },
    {
        "id": "96e79716d7f07c1f",
        "type": "comment",
        "z": "2c41a2bd.aa36ae",
        "name": "Větev 3 - Odeslání na cloud",
        "info": "každých 15 minut\nnajde položky v DB, které mají status: \"new\"\npřipravý na odeslání - Je nastaven limit na 200, abych nezahltil server na BE.\npošle na cloud\n a) vrátí 200\n    zapíše status do lokální DB status: \"sent\"\n b) vrátí chybu\n    nic nezapisuje\n",
        "x": 1400,
        "y": 220,
        "wires": []
    },
    {
        "id": "74adafc15c44af3a",
        "type": "function",
        "z": "2c41a2bd.aa36ae",
        "name": "prepare FIND \"not sent\"",
        "func": "// 1. Definujeme SQL dotaz pro neodeslaná data\n// Is_sent = 0 znamená, že data jsou v lokální DB, ale ještě ne na cloudu\nmsg.topic = \"SELECT * FROM measurements WHERE is_sent = 0 ORDER BY id ASC LIMIT 200;\";\n\n// 2. Dočasně uložíme informaci pro status (volitelné)\n// SQLite uzel po provedení tohoto dotazu vrátí pole v msg.payload.\n// Abychom věděli, co se děje teď, nastavíme \"přípravný\" status:\nnode.status({fill:\"blue\", shape:\"ring\", text:\"Dotazuji neodeslaná data...\"});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 360,
        "wires": [
            [
                "eff01ccc08dd40ff"
            ]
        ]
    },
    {
        "id": "aaf3b997499c1bb1",
        "type": "comment",
        "z": "2c41a2bd.aa36ae",
        "name": "Větev 1 - Čtení dat z Controlleru a uložení do local DB",
        "info": "Načte data\nZobrazí data v grafu\nZobrazí data v tachografu\nzobrazí data jako text, kde hlídá,jestli je teplota v rozmezí. \ntrigger - pokud nepřijde zpráva 10 minut, upozorní na offline teploměru.\nsmooth - průměruje teploty podle posledních 30 hodnot\ndelay - vezme zprávy pouze každou minutu. Z důvodu šetření databáze.\nvloží data do lokální sqlite DB",
        "x": 1480,
        "y": 100,
        "wires": []
    },
    {
        "id": "177d11245dd9378f",
        "type": "inject",
        "z": "2c41a2bd.aa36ae",
        "name": "run every 10 minutes",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "74adafc15c44af3a"
            ]
        ]
    },
    {
        "id": "18da10ca137142f7",
        "type": "function",
        "z": "2c41a2bd.aa36ae",
        "name": "prepare DELETE",
        "func": "// 1. SQL příkaz pro promazání starých a odeslaných dat\n// Používáme 'localtime', aby se čas 'now' shodoval s tvým nastavením v ČR\nmsg.topic = \"DELETE FROM measurements WHERE is_sent = 1 AND timestamp <= datetime('now', '-24 hours', 'localtime');\";\n\n// 2. Status pro vizuální kontrolu v Node-RED\nnode.status({fill:\"blue\", shape:\"ring\", text:\"Provádím úklid databáze...\"});\n\n// 3. Vyčištění payloadu\nmsg.payload = [];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 460,
        "wires": [
            [
                "15de1e8c229c7050"
            ]
        ]
    },
    {
        "id": "1eeecfba9f167306",
        "type": "sqlite",
        "z": "2c41a2bd.aa36ae",
        "mydb": "8f16dcad422aefc1",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "database",
        "x": 980,
        "y": 780,
        "wires": [
            [
                "c7906dad1691f4b4"
            ]
        ]
    },
    {
        "id": "c684b8b74997a8f5",
        "type": "inject",
        "z": "2c41a2bd.aa36ae",
        "name": "inject",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 510,
        "y": 800,
        "wires": [
            [
                "d1b76898300d34ab"
            ]
        ]
    },
    {
        "id": "c7906dad1691f4b4",
        "type": "debug",
        "z": "2c41a2bd.aa36ae",
        "name": "debug database data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 780,
        "wires": []
    },
    {
        "id": "6c98872225052be8",
        "type": "sqlite",
        "z": "2c41a2bd.aa36ae",
        "mydb": "8f16dcad422aefc1",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "database",
        "x": 860,
        "y": 220,
        "wires": [
            [
                "265863aaf8a7cbc4"
            ]
        ]
    },
    {
        "id": "b1d68e7454d7057e",
        "type": "inject",
        "z": "2c41a2bd.aa36ae",
        "name": "inject",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 510,
        "y": 700,
        "wires": [
            [
                "12dcce1ff89dbf87"
            ]
        ]
    },
    {
        "id": "265863aaf8a7cbc4",
        "type": "debug",
        "z": "2c41a2bd.aa36ae",
        "name": "debug database insert",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 240,
        "wires": []
    },
    {
        "id": "d1b76898300d34ab",
        "type": "function",
        "z": "2c41a2bd.aa36ae",
        "name": "select * from measurement ",
        "func": "// 1. Definujeme SQL dotaz do msg.topic\nmsg.topic = \"SELECT id, datetime(timestamp, 'localtime') AS timestamp, temperature, is_sent FROM measurements ORDER BY id DESC LIMIT 10;\";\n\n// 2. Payload NESMÍ být null, jinak se zpráva může v některých verzích zahodit.\n// Nastavíme ho na prázdný řetězec nebo původní hodnotu.\nmsg.payload = \"\"; \n\n// 3. Vrátíme msg objekt\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 840,
        "wires": [
            [
                "1eeecfba9f167306"
            ]
        ]
    },
    {
        "id": "12dcce1ff89dbf87",
        "type": "function",
        "z": "2c41a2bd.aa36ae",
        "name": "create table",
        "func": "// 1. SQL příkaz pro vytvoření tabulky (PŘIDÁNO nodeId)\nmsg.topic = `CREATE TABLE IF NOT EXISTS measurements (\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\n    nodeId TEXT,                 -- Unikátní ID/Alias stanice (např. core-incubator)\n    timestamp DATETIME DEFAULT CURRENT_TIMESTAMP,\n    type TEXT DEFAULT 'data',    -- 'data' nebo 'error'\n    temperature REAL,            -- Naměřená teplota\n    message TEXT,                -- Detailní stav (např. o baterii)\n    is_sent INTEGER DEFAULT 0    -- 0 = čeká na odeslání, 1 = odesláno\n);`;\n\n// 2. Nastavení payloadu na prázdné pole (podle tvého požadavku)\nmsg.payload = [];\n\n// Vizuální status pro Node-RED\nnode.status({ fill: \"blue\", shape: \"ring\", text: \"Inicializace tabulky...\" });\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 740,
        "wires": [
            [
                "1eeecfba9f167306"
            ]
        ]
    },
    {
        "id": "123c52b41ab3a2cc",
        "type": "comment",
        "z": "2c41a2bd.aa36ae",
        "name": "Pomocné funkce",
        "info": "Vytvoření databáze\nČtení dat z databáze",
        "x": 520,
        "y": 660,
        "wires": []
    },
    {
        "id": "eff01ccc08dd40ff",
        "type": "sqlite",
        "z": "2c41a2bd.aa36ae",
        "mydb": "8f16dcad422aefc1",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "database",
        "x": 600,
        "y": 380,
        "wires": [
            [
                "b51b8c569c23515b"
            ]
        ]
    },
    {
        "id": "22970e1ecee492c1",
        "type": "delay",
        "z": "2c41a2bd.aa36ae",
        "name": "massage filter",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 180,
        "wires": [
            [
                "72682f43c0053b14"
            ]
        ]
    },
    {
        "id": "0e892e0ece20052e",
        "type": "sqlite",
        "z": "2c41a2bd.aa36ae",
        "mydb": "8f16dcad422aefc1",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "database",
        "x": 1300,
        "y": 460,
        "wires": [
            [
                "071253cdc096d49e"
            ]
        ]
    },
    {
        "id": "071253cdc096d49e",
        "type": "debug",
        "z": "2c41a2bd.aa36ae",
        "name": "debug database set \"sent\"",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1510,
        "y": 480,
        "wires": []
    },
    {
        "id": "15de1e8c229c7050",
        "type": "sqlite",
        "z": "2c41a2bd.aa36ae",
        "mydb": "8f16dcad422aefc1",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "database",
        "x": 500,
        "y": 480,
        "wires": [
            [
                "ee3ab842bd93067e"
            ]
        ]
    },
    {
        "id": "ee3ab842bd93067e",
        "type": "debug",
        "z": "2c41a2bd.aa36ae",
        "name": "debug Delete sent items",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 500,
        "wires": []
    },
    {
        "id": "7ca3688ef20e787e",
        "type": "http in",
        "z": "2c41a2bd.aa36ae",
        "name": "test_BE_server",
        "url": "/test",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 700,
        "wires": [
            [
                "d4ec8e842871cac9",
                "9a5cccb185a8ba43"
            ]
        ]
    },
    {
        "id": "d4ec8e842871cac9",
        "type": "debug",
        "z": "2c41a2bd.aa36ae",
        "name": "debug Server",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 700,
        "wires": []
    },
    {
        "id": "9a5cccb185a8ba43",
        "type": "http response",
        "z": "2c41a2bd.aa36ae",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 250,
        "y": 800,
        "wires": []
    },
    {
        "id": "fa9e35f93a4b4ba8",
        "type": "comment",
        "z": "2c41a2bd.aa36ae",
        "name": "Simulace BE",
        "info": "",
        "x": 90,
        "y": 660,
        "wires": []
    },
    {
        "id": "41ae7b114f9a87c0",
        "type": "mqtt in",
        "z": "2c41a2bd.aa36ae",
        "name": "battery IN",
        "topic": "node/core-incubator/battery/-/voltage",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "29fba84a.b2af58",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 240,
        "wires": [
            [
                "8fd85b18eb406ee6"
            ]
        ]
    },
    {
        "id": "8fd85b18eb406ee6",
        "type": "function",
        "z": "2c41a2bd.aa36ae",
        "name": "prepare battery status",
        "func": "var voltage = parseFloat(msg.payload);\n\nif (isNaN(voltage)) return null;\n\n// Uložíme napětí do paměti flow, aby si ho mohl přečíst uzel prepare Insert\nflow.set(\"last_voltage\", voltage);\n\n// Příprava textu pro uzel \"battery state\" (Dashboard)\nmsg.payload = voltage.toFixed(2) + \" V\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 260,
        "wires": [
            [
                "41d88665f899a0da"
            ]
        ]
    },
    {
        "id": "4f3df275f3dcb5d9",
        "type": "comment",
        "z": "2c41a2bd.aa36ae",
        "name": "Větev 1",
        "info": "",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "41d88665f899a0da",
        "type": "ui_text",
        "z": "2c41a2bd.aa36ae",
        "group": "57ff470b.93fdf8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "battery state",
        "label": "Battery state:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "7122b3875537868b",
        "type": "comment",
        "z": "2c41a2bd.aa36ae",
        "name": "Větev 2 - Baterie",
        "info": "Načte stav baterie",
        "x": 1360,
        "y": 160,
        "wires": []
    },
    {
        "id": "ba06ec9a5ba5c22e",
        "type": "comment",
        "z": "2c41a2bd.aa36ae",
        "name": "Větev 2",
        "info": "",
        "x": 90,
        "y": 200,
        "wires": []
    },
    {
        "id": "849fe011a0a6f1fd",
        "type": "comment",
        "z": "2c41a2bd.aa36ae",
        "name": "Větev 3",
        "info": "",
        "x": 90,
        "y": 300,
        "wires": []
    },
    {
        "id": "37e0144ea6f76421",
        "type": "comment",
        "z": "2c41a2bd.aa36ae",
        "name": "Větev 4",
        "info": "",
        "x": 90,
        "y": 400,
        "wires": []
    },
    {
        "id": "52f0efdbf307457c",
        "type": "inject",
        "z": "2c41a2bd.aa36ae",
        "name": "Gateway reg",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 880,
        "wires": [
            [
                "c64217ab9a97c8b5"
            ]
        ]
    },
    {
        "id": "c64217ab9a97c8b5",
        "type": "function",
        "z": "2c41a2bd.aa36ae",
        "name": "Prepare http",
        "func": "msg.url = \"https://hatchery-l9qw.onrender.com/api/gateway/register\";\nmsg.method = \"POST\";\nmsg.headers = {\n  \"Content-Type\": \"application/json\",\n  \"x-api-key\": \"hatchery-gw-key-2026\"\n};\nmsg.payload = {\n  gatewayId: \"gateway-01\",\n  name: \"Inkubator - Domov\",\n  location: \"Inkubator - Domov\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "6059ec89af7374bb",
        "type": "inject",
        "z": "2c41a2bd.aa36ae",
        "name": "watchdog",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "ddf4d9ad945b3a09"
            ]
        ]
    },
    {
        "id": "ddf4d9ad945b3a09",
        "type": "function",
        "z": "2c41a2bd.aa36ae",
        "name": "check timeout",
        "func": "// Dotaz vybere poslední timestamp z tabulky\nmsg.topic = \"SELECT timestamp FROM measurements ORDER BY timestamp DESC LIMIT 1;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 540,
        "wires": [
            [
                "9773a6bb38bae4bf"
            ]
        ]
    },
    {
        "id": "94b7899634daae38",
        "type": "function",
        "z": "2c41a2bd.aa36ae",
        "name": "evaluate timeout",
        "func": "if (!msg.payload || msg.payload.length === 0) {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"Databáze je prázdná\" });\n    return null;\n}\n\n// 1. Získání času z DB a převod na objekt Date\n// msg.payload[0].timestamp je např. \"2026-03-27 20:15:00\"\nvar lastSeen = new Date(msg.payload[0].timestamp);\n\n// 2. Aktuální čas\nvar now = new Date();\n\n// 3. Výpočet rozdílu v milisekundách a převod na minuty\n// getTime() zajistí, že odčítáme čísla (timestampy)\nvar diffMs = now.getTime() - lastSeen.getTime();\nvar diffMinutes = diffMs / (1000 * 60);\n\n// DEBUG do statusu (uvidíš, kolik minut to napočítalo)\nnode.status({ fill: \"blue\", shape: \"dot\", text: \"Prodleva: \" + Math.round(diffMinutes) + \" min\" });\n\n// 4. Podmínka pro chybu (15 minut)\nif (diffMinutes > 15) {\n    var localTimestamp = now.toLocaleString(\"sv-SE\", { timeZone: \"Europe/Prague\" });\n\n    msg.topic = `INSERT INTO measurements (timestamp, type, temperature, message, is_sent) \n                 VALUES ('${localTimestamp}', 'error', NULL, 'Senzor offline', 0);`;\n    return msg;\n}\n\nreturn null; // Vše je v pořádku",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 560,
        "wires": [
            [
                "9773a6bb38bae4bf"
            ]
        ]
    },
    {
        "id": "9773a6bb38bae4bf",
        "type": "sqlite",
        "z": "2c41a2bd.aa36ae",
        "mydb": "8f16dcad422aefc1",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "database",
        "x": 500,
        "y": 560,
        "wires": [
            [
                "94b7899634daae38"
            ]
        ]
    },
    {
        "id": "29fba84a.b2af58",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "57ff470b.93fdf8",
        "type": "ui_group",
        "name": "inkubator",
        "tab": "11207769.c31889",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8f16dcad422aefc1",
        "type": "sqlitedb",
        "db": "/home/admin/sqlite/incubator.db",
        "mode": "RWC"
    },
    {
        "id": "11207769.c31889",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "01d10e284487491a",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-smooth": "0.1.2",
            "node-red-node-sqlite": "1.1.1"
        }
    }
]